@import "./layout";

#__ZEN_LOG__ {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 50vw;
  height: 40vh;
  background-color: #917800;

  .x-move {
    cursor: ew-resize;
  }

  .y-move {
    cursor: ns-resize;
  }
}