@import "./layout";

#__ZEN_LOG__ {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 40vh;
  color: #fff;
  background-color: #917800;

  .zenlog-header-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 30px;
    width: 100%;
    background-color: darkred;

    .zenlog-features-container {
      display: flex;
      height: 100%;
      align-items: center;

      .feature-item {
        height: 100%;
        margin: 0 5px;
      }
    }

    .zenlog-window-manage {
      height: 100%;
      button {
        height: 100%;
        margin: 0 5px;
      }
    }
  }

  .zenlog-main-content {
    background-color: coral;
  }

  .zenlog-footer-menu {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 26px;
    background-color: #176fc4;
  }
}